@{
    ViewBag.Title = "Home Page";
}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">
    <div class="span4">
        <h2>Pure MVC Paging</h2>
        <p>In this method, mvc partial views and a bit of javascript is used. Some of the functionality of this method will also be shared by the next method.</p>
        <p><a class="btn" href="@Url.Action("Index", "MvcPaging")">View &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Mustache Paging</h2>
        <p>In this method, apart from some of the basic stuff, loading additional page elements are done using the mustache templating engine.</p>
        <p><a class="btn" href="@Url.Action("Index", "MustachePaging")">View &raquo;</a></p>
    </div>    
</div>
